
<h1> Welcome to Pantscast! </h1>
<h2> Please type in your zipcode below </h2>

<form action="/zipcode" method="get">
  <input type='text' name='zippy'>
  <br>
  <input type='submit' value='Pants or Shorts?'>
</form>
