<h1>Welcome to the Parrot Game</h1>
<h2>Write a sentence here:</h2>

<form action="/parrot" method="get">
  <input type='text' name='sentence'>
  <br>
  <input type='submit' value='parrotify'>
</form>
